<partial name="_Notifications" />

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                List of models
            </h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-area="Admin" asp-controller="VehicleModel" asp-action="Upsert">Create new model</a>
        </div>
    </div>

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <th>Make</th>
            <th>Model</th>
        </thead>
    </table>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/vehicleModel.js"></script>